<table class="table">
  <tr>
    <th>Name</th>
    <td><%= @employee.dig("name") %></td>
  </tr>
  <tr>
    <th>Position</th>
    <td><%= @employee.dig("position") %></td>
  </tr>
  <tr>
    <th>Salary</th>  
    <td><%= @employee.dig("salary") %></td>
  </tr>
  <tr>
    <th>Date of Birth</th>  
    <td><%= @employee.dig("date_of_birth") %></td>
  </tr>
</table>